################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProjectManagerTests/obj
/ProjectManagerTests/bin/Debug/netcoreapp3.1
